<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inicial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Exercícios HTML</title>
        <style>
            #conteudo {
                padding: 10px 0px;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Exercícios HTML</h1>
        </header>
        <nav>
            Frederico
        </nav>
        <section id="conteudo"></section>
        <footer>
            Curso Web Moderno
        </footer>

    </body>
</html>
